:root {
    --colorOne: #d5ecf4;
    --colorTwo: #e5efd9;
    --colorThree: #fcf8c0;
    --colorFour: #ebebeb;
    --colorFive: #f4c5c3;
    --colorSix: #e5efd8;
    --colorSeven: #fcf8c0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  ul {
    list-style: none;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  
  .Grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .header {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .header h1 {
    margin-top: 0;
    font-size: 60px;
  }
  
  .header .header-column {
    display: flex;
    justify-content: space-around;
  }
  
  .header-nav span {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.4);
  }
  
  .header-nav li {
    margin-bottom: 10px;
  }
  
  .header-nav li:last-child {
    margin-bottom: 0;
  }
  
  .grid {
    grid-auto-rows: 30vh;
    grid-gap: 20px;
  }
  
  .grid .grid-item {
    background-size: cover;
    background-position: center center;
  }
  
  .grid .grid-item:first-child {
    grid-row: span 2;
    background-color: var(--colorOne);
  }
  
  .grid .grid-item:nth-child(2) {
    grid-area: span 2 / span 2;
    background-image: url(./resource/item1.png);
  }
  
  .grid .grid-item:nth-child(3) {
    background-color: var(--colorTwo);
  }
  
  .grid .grid-item:nth-child(4) {
    grid-row: span 2;
    background-image: url(./resource/item2.png);
  }
  
  .grid .grid-item:nth-child(5) {
    background-color: var(--colorThree);
  }
  
  .grid .grid-item:nth-child(6) {
    background-color: var(--colorFour);
  }
  
  .grid .grid-item:nth-child(7) {
    background-image: url(./resource/item3.png);
  }
  
  .grid .grid-item:nth-child(8) {
    grid-area: span 2 / span 2;
    background-color: var(--colorFive);
  }
  
  .grid .grid-item:nth-child(9) {
    grid-row: span 2;
    background-image: url(./resource/item4.png);
  }
  
  .grid .grid-item:nth-child(10) {
    grid-area: span 2 / span 2;
    background-image: url(./resource/item5.png);
  }
  
  .grid .grid-item:nth-child(11) {
    background-image: url(./resource/item6.png);
  }
  .grid .grid-item:nth-child(12) {
    background-image: url(./resource/item7.png);
  }
  
  .grid .grid-item:nth-child(13) {
    grid-area: span 2 / span 2;
    background-color: var(--colorSix);
  }
  
  .grid .grid-item:nth-child(14) {
    background-image: url(./resource/item8.png);
  }
  
  .grid .grid-item:last-child {
    background-color: var(--colorSeven);
  }